<div class="app-window">
  <div class="body">
    <div class="signincard">
      <mat-card>
        <!--Header-->
        <mat-card-header>
          <div mat-card-avatar class="logo-header-image"></div>
          <mat-card-title>Angular Study</mat-card-title>
          <mat-card-subtitle>Authentication</mat-card-subtitle>
        </mat-card-header>

        <!--Content-->
        <mat-card-content>
          <br />
          <!--Username-->
          <mat-form-field class="full-width">
            <mat-label>UserName</mat-label>
            <input matInput placeholder="UserName" />
          </mat-form-field>

          <!--Password-->
          <mat-form-field class="full-width">
            <mat-label>Password</mat-label>
            <input matInput placeholder="Password" />
          </mat-form-field>

          <!--Email-->
          <mat-form-field appearance="outline" class="full-width">
            <mat-label>Email</mat-label>
            <input matInput placeholder="Email" />
            <span matTextSuffix>&#64;phh.com</span>
            <mat-hint>username&#64;phh.com</mat-hint>
          </mat-form-field>

          <br />
          <br />

          <!--Mobile Phone-->
          <mat-form-field appearance="outline" class="full-width">
            <mat-label>Mobile Phone</mat-label>
            <input matInput placeholder="Mobile Phone" />
            <span matTextPrefix>+95 &nbsp;</span>
            <mat-icon matSuffix>phone</mat-icon>
            <mat-hint>+95 12345678</mat-hint>
          </mat-form-field>
        </mat-card-content>

        <!--Action-->
        <mat-card-actions>
          <button mat-flat-button>SIGN-IN</button>
          <button mat-flat-button (click)="goToPrivateApp()">
            Private App
          </button>
          <button mat-flat-button (click)="goToPublicApp()">Public App</button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>
