.app-home {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden;

  .header {
    display: flex;
    padding: 16px;

    .title {
      font-weight: bold;
      font-size: x-large;
    }

    .page-status {
      display: flex;
      align-items: center;

      .page-list {
        margin: 0px 16px;
      }
    }
  }

  .body {
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow: hidden;

    .content-container {
      flex: 1;
      display: flex;
      flex-direction: column;
      overflow: auto;

      .user {
        margin: 4px 0px;
        padding: 8px;
        background: lightblue;
      }

      .mat-column-no{
        min-width: 80px;
        max-width: 80px;
        text-align: center;
      }

      .mat-column-name{
        min-width: 200px;
        max-width: 200px;
      }

      .mat-column-age{
        min-width: 100px;
        max-width: 100px;
        text-align: center;
      }

      .mat-column-gender{
        min-width: 200px;
        max-width: 200px;
      }

      .mat-column-race{
        min-width: 200px;
        max-width: 200px;
      }

      .mat-column-religion{
        min-width: 200px;
        max-width: 200px;
      }

      .mat-column-occupation{
        min-width: 600px;
        max-width: 600px;
      }
    }
  }


  .table-footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background: lightcyan;
  }
}
